*{
    padding: 0;
    margin: 0;
}

html{
    background: url(img.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 38px;
    border: 10px;
    border-radius: 100px;
    background-color: gray;
}

p{
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border: 10px;
}

a{
    text-decoration: none;
}