
body{
    background: url(img.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0; 
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 500px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 45px;
    border: 50px;
    border-radius: 100px;
    background-color: #232b2b;

}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

button{
    background-color: #232b2b;
    border: 25px;
    color: white;
}

a{
    text-decoration: none;
}